.characterimgIcon {
    position: relative;
    width: 138px;
    height: 138px;
  }
  
  .characterimgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .yourOwnCharacter {
    align-self: stretch;
    position: relative;
  }
  
  .content,
  .characterinfo {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .characterinfo {
    gap: var(--gap-2xl);
  }
  
  .characterinfoParent,
  .chatnowbtn,
  .createYourOwn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chatnowbtn {
    align-self: stretch;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslategray-100);
    justify-content: flex-start;
    padding: var(--padding-9xs) 0;
    font-size: var(--font-size-16xl);
    color: var(--color-gainsboro);
  }
  
  .cardBase,
  .characterinfoParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

  }
  
  
  .characterinfoParent {
    width: 232px;
    padding: 0 var(--padding-12xs);
    gap: var(--gap-2xl);
  }
  
  .cardBase {
    border-radius: var(--br-mini);
    background-color: var(--color-lightgray);
    width: 300px;
    height: 394px;
    padding: var(--padding-31xl) var(--padding-31xl) var(--padding-31xl);
  }
  
  .characterimgIcon1 {
    position: relative;
    width: 138px;
    height: 138px;
  }
  
  .characterimgContainer {
    flex-direction: column;
    justify-content: center;
    background-image: url(/frame-41@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .characterimgContainer,
  .chatbtn,
  .seriesWrapper {
    display: flex;
    align-items: center;
  }
  
  .seriesWrapper {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-xl);
  }
  
  .chatbtn {
    align-self: stretch;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslateblue);
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--font-size-15xl);
    color: var(--color-gainsboro);
    text-decoration: none;
    padding: 4px 0px;
    color: white;

  }
  .chatbtn:hover{
    background-color: #353468;

  }
  

  .createbtn {    
    align-self: stretch;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslategray-100);
    justify-content: flex-start;
    padding: var(--padding-9xs) 0;
    font-size: var(--font-size-15xl);
    color: var(--color-gainsboro);
    text-decoration: none;
    padding: 4px 0px;
    color: white;
  }
  .createbtn:hover{
    background-color: #28463b;
  }
  .cosonas{
    align-items: center;
    justify-content: center;
  }


  /* ResponseBox.module.css */
  .responseBox {
    display: flex;
    height: auto; /* Adjust as needed */
    padding: 35px 30px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    font-size: x-large;
  }

.userBackground {
  background: #eadaba;
}

.picture {
  width: 42.5px;
  height: 42.5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: bold;

}

.response {
  word-break: break-word; /* Allow long words to break into the next line */
  margin-left: 5px; /* Add margin to separate name and response */

}