.cosonaLogoIcon {
  width: 57.36px;
  height: 53.19px;
}
.cosonaLogoIcon,
.cosonas {
  position: relative;
}
.cohereLogoWhiteIcon {
  position: relative;
  width: 85.64px;
  height: 14.37px;
  margin-top: -2px;
}
.cosonasParent,
.logo {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logo {
  align-self: stretch;
  border-radius: var(--br-mini);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-16xl);
}
.personasIcon {
  position: relative;
  width: 32.77px;
  height: 22.94px;
}
.cosonas1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personasIconParent,
.sideBarInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.personasIconParent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-plum);
  height: 33px;
  justify-content: space-between;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.sideBarInner {
  align-self: stretch;
  border-radius: var(--br-mini);
  justify-content: flex-start;
}
.plusVectorIcon {
  position: relative;
  width: 21.88px;
  height: 21.88px;
}
.plusVectorWrapper {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-7xl);
  box-sizing: border-box;
}
.chatIcon {
  position: relative;
  width: 25px;
  height: 21.88px;
}
.chatIconWrapper,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.chatIconWrapper {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  height: 60px;
  justify-content: center;
  padding: 0 var(--padding-2xl);
  cursor: pointer;
}
.frameParent {
  border-radius: var(--br-mini);
  width: 259px;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-3xs);
}
.userAltIcon {
  position: relative;
  width: 30.44px;
  height: 30.44px;
  overflow: hidden;
  flex-shrink: 0;
}
.myCosonas {
  flex: 1;
  position: relative;
}
.userAltParent {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-orangered);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.starIcon {
  position: relative;
  width: 30.44px;
  height: 30.44px;
}
.starIconParent {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.avengerIcon,
.miscIcon,
.narutoIcon {
  position: relative;
  width: 30.44px;
  height: 25.92px;
}
.avengerIcon,
.miscIcon {
  height: 35.39px;
}
.miscIcon {
  height: 24.35px;
}
.colLeft,
.sideBar {
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.sideBar {
  background-color: var(--color-gray);
  align-items: center;
  padding: var(--padding-3xl) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.colLeft {
  align-items: flex-start;
}

.colRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  justify-content: center;
  color: var(--color-darkslategray-200);
  margin-left: 50px;
}

.peopleBox,
.peopleBoxWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
}

.peopleBox {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 43px;
}

.peopleBoxWrapper {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mainFrame {
  align-self: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.personasDesignA {
  align-self: stretch;

  position: relative;
  background-color: #eae6de;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-consolas);
}

