

.vertScroll {
    text-align: left;
  }
  
  .scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    font-size: 40px;
    text-align: left;
  }
  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 6s infinite;
    font-weight: bold;
    background-color: None;
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }