@keyframes spin_words {
  0%, 20% {
    transform: translateY(0);
  }
  25%, 45% {
    transform: translateY(-100%);
  }
  50%, 70% {
    transform: translateY(-200%);
  }
  75%, 95% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.words {
  overflow: hidden;
  height: 1.2em;
  display: inline-block;
}
.words div {
  animation: spin_words 12s infinite;
  height: 1.2em;
  line-height: 1.2em; /* Adjust this value as needed */
  font-size: 1em; /* Adjust this value as needed */
  margin-left: 0.3em;
}

